astropy
beautifulsoup4
bs4
email-validator
ephem
Flask==2.1.1
Flask-Login
Flask-Mail
Flask-SQLAlchemy==2.5.1
Flask-WTF
GeoAlchemy2>=0.13.0
healpy
pyjwt
matplotlib
numpy
pandas
plotly
psycopg2-binary
pytz
requests
scipy
Shapely
SQLAlchemy==1.4.32
urllib3
validators
Werkzeug==2.0.3
WTForms
WTForms-Components
gunicorn
boto3==1.26.90
pygcn
MOCpy
celery
redis
Flask-Caching
emails
gcn-kafka
fsspec
adlfs
s3fs
markupsafe>=2.1.1
