{% block alert_viz %}
<head>
<style>

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.alerttypeactive {
  cursor: auto;
  color: black;
  background-color:darkgray;
  outline: darkgray;
  border: darkgray;
}

.alerttypeinactive {
  cursor: pointer;
}

div.constrained {
  overflow: auto;
  height: 100px;
}

.scroll-section {
  max-height: 100px;
  overflow-y: auto;
}

.overlaycolorbox {
  display: inline-block;
  height: 13px;
  width: 13px;
  background-color: white;
}

.markercolordot {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: -2px;
}

.loadingtext {
  font-style: italic;
  color: darkgrey;
}

text.info{
    position:relative; /*this is the key*/
    z-index:24; 
    /*background-color:#ccc;
    color:#000;*/
    text-decoration:none
}
text.info:hover{
    z-index:25; 
    cursor: help;
    /*background-color:#ff0*/
}
text.info span{
    display: none
}
text.info:hover span{ /*the span will display just on :hover state*/
    cursor: help;
    display:block;
    position:absolute;
    top:2em; left:0em; 
    width:15em;
    border:1px solid rgb(33, 109, 207);
    background-color:rgb(33, 109, 207); 
    color: white;
    font-size: 10pt;
    text-align: center;
    border-radius: 18px;
  }
</style>
</head>

<link rel="stylesheet" href="http://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css" />
<link href="https://aladin.u-strasbg.fr/AladinLite/css/style.css" rel="stylesheet" />
<script type="text/javascript" src="http://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>
    
<body>
  <input type="hidden" id="hidden_alertid" value="{{ form.selected_alert_info.id }}">

  <ul id='alerttypenav' class="nav nav-tabs">
    {% for al in form.alert_type_tabs if al['type']!= "Retraction" %}
      {% if al['type'] == form.alert_type %}
        <!-- <li class="active"><a href="/{{ form.page }}?graceids={{ form.graceid }}&pointing_status={{ form.status }}&alert_type={{ al['type'] }}">{{ al['type'] }} <br> {{al['timesent']}}</a></li>-->
        <li class="nav-item"><a class="alerttypeactive" id="{{ al['urlid']}}">{{ al['type'] }}<br>{{al['timesent']}}</a></li>
      {% else %}
        <li class="nav-item"><a class="alerttypeinactive" id="{{ al['urlid']}}">{{ al['type'] }}<br>{{al['timesent']}}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <div class='row'>
    <!-- The Aladin Viz -->
    <div class='column'style="float:left; width: 70%;">
      <div id="aladin-lite-div" style="position: relative;"></div>
    </div>
    <!-- Viz interaction column -->
    <div class="column" style="float: right; width: 30%; padding-left: 2%;">
      <div class="row">
        <h3> Follow-Up </h3>
      </div>
      <!-- Instrument block buttons and div -->
      <div class="row">
        <button disabled id='alert_inst_coll' onclick='changeCollapseButtonText(this.id)' type="button" class="btn btn-primary btn-sm alert_coll down-triangle" data-toggle='collapse' data-target='#alert_instruments_div'></button> 
        <button disabled id='alert_hideshow_inst' onclick='hideShowAll(this.id)' type="button" class="btn btn-primary btn-sm">Hide</button>
        <h4 style="display: inline-block;" id='instrumentsHeader' class="loadingtext">...Loading...</h4> 
      </div>
      <div class="row">
        <div class="collapse in scroll-section inst_coll" id="alert_instruments_div"></div>
      </div>
      <!-- GRB coverage block buttons and div -->
      <div class="row">
        <button id='alert_grb_coll' onclick='changeCollapseButtonText(this.id)' type="button" class="btn btn-primary btn-sm alert_coll down-triangle" data-toggle='collapse' data-target='#alert_grbcov_div'></button>
        <button id='alert_hideshow_grb' onclick='hideShowAll(this.id)' type="button" class="btn btn-primary btn-sm">Show</button>
        <h4 style="display: inline-block;">GRB Coverage</h4> 
      </div>
      <div class="row">
        <div class="collapse in grb_coll" id="alert_grbcov_div"></div>
      </div>
      <div class="row">
        <h3> Sources </h3>
      </div>
      <!-- Galaxies block buttons and div -->
      <div class="row">
        <button id='alert_gal_coll' onclick='changeCollapseButtonText(this.id)' type="button" class="btn btn-primary btn-sm alert_coll down-triangle" data-toggle='collapse' data-target='#alert_gal_div'></button> 
        <button type="button" id="alert_event_galaxies" class="btn btn-primary btn-sm">Get</button>
        <h4 style="display: inline-block;">Galaxies</h4> 
      </div>
      <div class="row">
        <div class="collapse in gal_coll" id='alert_gal_div'></div>
      </div>
      <!-- XRT sources block buttons and div -->
      <div class="row">
        <button id='alert_xrt_coll' onclick='changeCollapseButtonText(this.id)' type="button" class="btn btn-primary btn-sm alert_coll down-triangle" data-toggle='collapse' data-target='#alert_scimmadiv'></button>
        <button type="button" id="alert_scimma_xrt" class="btn btn-primary btn-sm">Get</button>
        <h4 style="display: inline-block;">XRT Sources</h4> 
      </div>
      <div class="row">
        <div class="collapse in xrt_coll" id ="alert_scimmadiv"></div>
      </div>
    </div>
    </div>
  </div>

  <!-- pointing status selection and timeslider-->
  <div>
    <p><b>Pointing Status</b> 
      <select class='selectpicker' name=pointing_status id=pointing_status>
        {% for a in form.pointing_status %}
          {% if a['value'] == form.status %}
            <option selected='True' value={{ a['value'] }}>{{ a['name'] }}</option>
          {% else %}
            <option value={{ a['value'] }}>{{ a['name'] }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </p>

    <p>
      <label for="amount">Date range (days since Time of Signal):</label>
      <input type="text" id="amount" style="border: 0; color: #f6931f; font-weight: bold;" size="100"/>
    </p>
     
    <div id="slider-range"></div>
    <br>
  </div>

  <!-- GW Alert Information -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <table class="table">
          <thead>
            <tr>
              <th>Information</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
            {% if form.selected_alert_info.group != 'None' and form.selected_alert_info.group != '' and form.selected_alert_info.group != None %}
            <tr class="info">
              <td>Group</td>
              <td id='alert_group'>{{ form.selected_alert_info.group }}</td>
            </tr>
            {% endif %}
            <tr class="info">
              <td>Detectors</td>
              <td id='alert_detectors'>{{ form.selected_alert_info.detectors }}</td>
            </tr>
            <tr class="info">
              <td>Time of Signal</td>
              <td id='alert_time_of_signal'>{{ form.selected_alert_info.time_of_signal }} UTC</td>
            </tr>
            <tr class="info">
              <td>Time Sent</td>
              <td id='alert_timesent'>{{ form.selected_alert_info.timesent }} UTC</td>
            </tr>
            <tr class="info">
              <td>False Alarm Rate</td>
              <td id='alert_human_far'>once per {{form.selected_alert_info.human_far}} {{form.selected_alert_info.human_far_unit}}</td>
            </tr>
            {% if form.selected_alert_info.group != 'Burst' %}
            <tr class="info">
              <td>Distance</td>
              <td id='alert_distance_plus_error'>{{ form.distance }} +/- {{ form.distance_error }} Mpc</td>
            </tr>
            {% else %}
            <tr class="info">
              <td>Central Frequency</td>
              <td id='alert_centralfreq'>{{form.selected_alert_info.centralfreq}} Hz</td>
            </tr>
            <tr class="info">
              <td>Duration</td>
              <td id='alert_duration'>{{form.selected_alert_info.duration}} seconds</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
      {% if form.selected_alert_info.group != 'Burst' %}
      <div class="col-sm-6">
        <table class="table">
          <thead>
            <tr>
              <th>Classification (CBC Only)</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr class="info">
              <td>BNS</td>
              <td id='alert_prob_bns'>{{ form.selected_alert_info.prob_bns }}</td>
            </tr>
            <tr class="info">
              <td>NSBH</td>
              <td id='alert_prob_nsbh'>{{ form.selected_alert_info.prob_nsbh }}</td>
            </tr>
            <tr class="info">
              <td>Mass Gap</td>
              <td id='alert_prob_gap'>{{ form.selected_alert_info.prob_gap }}</td>
            </tr>
            <tr class="info">
              <td>BBH</td>
              <td id='alert_prob_bbh'>{{ form.selected_alert_info.prob_bbh }}</td>
            </tr>
            <tr class="info">
              <td>Terrestrial</td>
              <td id='alert_prob_terrestrial'>{{ form.selected_alert_info.prob_terrestrial }}</td>
            </tr>
            <tr class="info">
              <td>Has NS</td>
              <td id='alert_prob_hasns'>{{ form.selected_alert_info.prob_hasns }}</td>
            </tr>
            <tr class="info">
              <td>Has Remnant</td>
              <td id='alert_prob_hasremenant'>{{ form.selected_alert_info.prob_hasremenant }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>
  </div>

<!-- BEGIN: coverage calculator -->
<div class = "container-fluid">
  <center><h3>Coverage Calculator</h3></center>

  <br>

  <i> 
    Calculate the coverage of the GW localization over time, 
    with choices to limit the coverage calculation to particular sets of instruments, 
    wavelengths, or depth. All fields are optional, but cuts on depths must have an associated unit. 
    If an empty form is submitted, the total reported coverage regardless of depth or band is computed. 
    Once a HEALPIX pixel has been first covered, it is marked as done, to avoid double counting probability 
    when the same field is covered multiple times. After clicking, be patient, it may take up to 20 seconds 
    to fully compute the coverage profile.
  </i>

  <br>

  <!-- Coverage plot placeholder -->
  <div id ="coveragediv"></div>
  
  <!-- Coverage plot input parameters-->
  <div>
    <b>Instrument</b>
    <select class="selectpicker" multiple data-live-search="true" name=inst_cov id=inst_cov>
        {% for a in form.inst_cov %}
            <option value={{ a['value'] }}>{{ a['name'] }}</option>
        {% endfor %}
    </select>

    <b>Band</b>
    <select class="selectpicker" multiple data-live-search="true" name=band_cov id=band_cov>
        {% for a in form.band_cov %}
          <option value={{ a['value'] }}>{{ a['name'] }}</option>
        {% endfor %}
    </select>

    <b>Depth</b>
    <input type="text" name=depth_cov id=depth_cov>

    <b>Depth Unit</b>
    <select class="selectpicker" multiple data-max-options="1" name=depth_unit id=depth_unit>
        {% for a in form.depth_unit %}
          {% if 'erg' in a['name'] %}
          <option value={{ a['value'] }}>FLUX erg cm^-2 s^-1</option>
          {% else %}
          <option value={{ a['value'] }}>{{ a['name'] }}</option>
          {% endif %}
        {% endfor %}
    </select>

    <b><text class='info'>Approximate
      <span>
        For footprints with multiple ccd's this will approximate the calculator's input by using a simplified instrument footprint without chip-gaps. It is substantially faster, but does introduce a level of uncertainty in the resulting area and probability.
      </span>
    </text></b>
    <select class="selectpicker" multiple data-max-options="1"  name=approx_cov id=approx_cov>
      <option value=1 selected>Yes</option>
      <option value=0>No</option>
    </select>
  </div>
  

  <br><br>
  <input type="button" id="calculate" value="Calculate" class="btn btn-primary" style="display: block; margin: 0 auto;"/>
</div>
    
<!-- Creation of Aladin Lite instance with initial parameters -->
<script type='text/javascript'>

  var inst_overlays = {}
  var marker_list = {}
  var target_init = "{{ form.avgra }} {{ form.avgdec }}"
  var detection_overlays = JSON.parse('{{ detection_overlays | tojson }}');
  var GRBoverlays = JSON.parse('{{ GRBoverlays | tojson }}');
  var galaxy_cats = JSON.parse('{{ galaxy_cats | tojson }}');

  var sun_ra = '{{ form.selected_alert_info.sun_ra }}';
  var sun_dec = '{{ form.selected_alert_info.sun_dec }}';
  var moon_ra = '{{ form.selected_alert_info.moon_ra }}';
  var moon_dec = '{{ form.selected_alert_info.moon_dec }}';

  var slider_min = new Number('{{ form.mintime }}');
  var slider_max = new Number('{{ form.maxtime }}');
  var slider_step = new Number('{{ form.step }}');
  var slider_vals = [(slider_min), (slider_max)];
</script>
<script type='text/javascript' src="{{ url_for('static',filename='js/alert_aladin.js') }}"></script>
<script type='text/javascript'>
  var data = {
    detection_overlays: detection_overlays,
    inst_overlays: inst_overlays,
    GRBoverlays: GRBoverlays,
    target_init: target_init,
    sun_ra: sun_ra,
    sun_dec: sun_dec,
    moon_ra: moon_ra,
    moon_dec: moon_dec,
  }
  var d = gwtmAladinInit(data)
  data.aladin = d.aladin
  var aladin = d.aladin
  var detectionoverlaylist = d.detectionoverlaylist
  var grboverlaylist = d.grboverlaylist
  var instoverlaylist = {}
  var set_aladin_markerlist = {} 

  //This asynchronously queries for the instrument footprints
  //Page load time saver.
  window.onload = function(){
    $('#instrumentsHeader').text('...Loading...')
    $.ajax(
      {
        url: '/ajax_alertinstruments_footprints',
        data: 'graceid={{ form.graceid }}&tos_mjd={{ form.tos_mjd }}',
        async: true
      }
    ).done( function(payload){
      data.inst_overlays = payload
      aladin_drawInstHTML(data.inst_overlays, 'alert_instruments_div')
      instoverlaylist = aladin_setContours(aladin, payload)
      aladin.view.requestRedraw();

      $('#instrumentsHeader').text('Instruments')
      $('#instrumentsHeader').removeClass('loadingtext')
      $('#alert_inst_coll').prop('disabled', false); 
      $('#alert_hideshow_inst').prop('disabled', false);
    });
  }
</script>
<!-- Page Interaction JS -->
<script>

  //twistyyyyy -> changes collapsible stuff
  function changeCollapseButtonText(clicked_id){
    var button = document.getElementById(clicked_id);
    
    if (button.classList.contains('right-triangle')) { 
      button.classList.replace('right-triangle', 'down-triangle')
    }
    else {
      button.classList.replace('down-triangle', 'right-triangle')
    }
  }

  //Toggles the instrument and GRB overlays
  function hideShowAll(clicked_id) {
    var button = document.getElementById(clicked_id);
    toShow = (button.innerHTML == 'Show')
    if (clicked_id == 'alert_hideshow_inst') {
      aladin_overlayToggleAll(instoverlaylist, toShow)
      $('.inst_coll input:checkbox').prop('checked', toShow)
    }
    if (clicked_id == 'alert_hideshow_grb') {
      aladin_mocToggleAll(grboverlaylist, toShow)
      $('.grb_coll input:checkbox').prop('checked', toShow)
    }
    if (toShow) { button.innerHTML = 'Hide'}
    else { button.innerHTML = 'Show' }
  }

  //Listens to clicks in the respective <div>'s
  //  the follow-ups remove clicked overlays
  //  the sources interactively animate the vizualization to the source
  $(document).ready( function() {
    $('#alert_instruments_div').click(function(event) {
      if (event.target.id != '') { 
        var boxes = $('.inst_coll input:checkbox');
        var checkedBoxes = $('.inst_coll input:checked');
        var button = document.getElementById('alert_hideshow_inst');
        if (boxes.length == checkedBoxes.length) { button.innerHTML = 'Hide'}
        if (checkedBoxes.length == 0) { button.innerHTML = 'Show'}
        aladin_overlayToggleOne(event.target, instoverlaylist)
      }
    })
    $('#alert_grbcov_div').click(function(event) {
      if (event.target.id != '') { 
        var boxes = $('.grb_coll input:checkbox');
        var checkedBoxes = $('.grb_coll input:checked');
        var button = document.getElementById('alert_hideshow_grb');
        if (boxes.length == checkedBoxes.length) { button.innerHTML = 'Hide'}
        if (checkedBoxes.length == 0) { button.innerHTML = 'Show'}
        aladin_mocToggleOne(event.target, grboverlaylist)
      }
    })
    $('#alert_gal_div').click(function(event) {
      if (event.target.id.includes('marker_group_')) {
        var boxes = $('.gal_coll input:checkbox');
        var checkedBoxes = $('.gal_coll input:checked');
        var button = document.getElementById('alert_event_galaxies');
        if (boxes.length == checkedBoxes.length) { button.innerHTML = 'Hide'}
        if (checkedBoxes.length == 0) { button.innerHTML = 'Show'}
        aladin_markerToggleOne(set_aladin_markerlist['alert_gal'], event.target)
      }
      else if (event.target.id != '') {
        aladin_animateToMarker(event.target, marker_list['alert_gal'])
      }
    })
    $('#alert_scimmadiv').click(function(event) {
      if (event.target.id.includes('marker_group_')) {
        var boxes = $('.xrt_coll input:checkbox');
        var checkedBoxes = $('.xrt_coll input:checked');
        var button = document.getElementById('alert_scimma_xrt');
        if (boxes.length == checkedBoxes.length) { button.innerHTML = 'Hide'}
        if (checkedBoxes.length == 0) { button.innerHTML = 'Show'}
        aladin_markerToggleOne(set_aladin_markerlist['alert_xrt'], event.target)
      }
      else if (event.target.id != '') {
        aladin_animateToMarker(event.target, marker_list['alert_xrt'])
      }
    })
  });

  //redraw with new contour from the alert type tabs
  $(document).ready( function() {
    $('#alerttypenav').click(function(event) {

      if (event.target.id != 'alerttypenav') {
        var actives = document.getElementsByClassName('alerttypeactive')
        var thisEl = document.getElementById(event.target.id)
        for(i = 0; i<actives.length; i++){
          actives[i].classList.replace('alerttypeactive', 'alerttypeinactive')
        }
        thisEl.classList.add('alerttypeactive')

        $.ajax(
          {
            url: '/ajax_alerttype',
            data: 'urlid='+thisEl.id
          }
        ).done(function (payload){
          $('#hidden_alertid').val(payload['hidden_alertid']);
          $('#alert_group').text(payload['alert_group']);
          $('#alert_detectors').text(payload['alert_detectors']);
          $('#alert_time_of_signal').text(payload['alert_time_of_signal']);
          $('#alert_timesent').text(payload['alert_timesent']);
          $('#alert_human_far').text(payload['alert_human_far']);
          $('#alert_distance_plus_error').text(payload['alert_distance_plus_error']);
          $('#alert_centralfreq').text(payload['alert_centralfreq']);
          $('#alert_duration').text(payload['alert_duration']);
          $('#alert_prob_bns').text(payload['alert_prob_bns']);
          $('#alert_prob_nsbh').text(payload['alert_prob_nsbh']);
          $('#alert_prob_gap').text(payload['alert_prob_gap']);
          $('#alert_prob_bbh').text(payload['alert_prob_bbh']);
          $('#alert_prob_terrestrial').text(payload['alert_prob_terrestrial']);
          $('#alert_prob_hasns').text(payload['alert_prob_hasns']);
          $('#alert_prob_hasremenant').text(payload['alert_prob_hasremenant']);

          aladin.removeLayers()
          data.detection_overlays = payload.detection_overlays;
          
          d = gwtmAladinInit(data)
          aladin = d.aladin
          detectionoverlaylist = d.detectionoverlaylist
          instoverlaylist = d.instoverlaylist
          grboverlaylist = d.grboverlaylist

          //This should be deleted once markers are encorporated into the gwtmAladinInit
          $('#alert_gal_div').html('');
          var button = document.getElementById('alert_event_galaxies');
          button.innerHTML = 'Get'

          $('#alert_scimmadiv').html('');
          var button = document.getElementById('alert_scimma_xrt');
          button.innerHTML = 'Get'
        })
      }
    })
  })

  function poll_for_result(result_id){
    var btn = $('#calculate');
    btn.prop('value', 'Waiting.')
    var cnt = 0
    var poll = setInterval(function(){
      console.log('looking for result')
      $.ajax({
        url: '/prob_calc_results/' + result_id,
      }).done(function(reply){
        if(reply != 'false'){
          $('#coveragediv').html(reply);
          clearInterval(poll)
          console.log('clearing')
          btn.prop('value', 'Calculate')
        }else{
          console.log('still waiting')
          btn.prop('value', 'Waiting.' + '.'.repeat(cnt))
        }
        cnt++
      })
    }, 3000)

  }
  //Function that creates the Coverage plot
  $(document).ready( function() {
      $('#calculate').click(function() {
        $('#calculate').prop('disabled', true)
        var $btn = $(this).button('loading');
        var inst_cov = $('#inst_cov').val()
        var band_cov = $('#band_cov').val()
        var depth_cov = $('#depth_cov').val()
        var depth_unit = $('#depth_unit').val()
        var approx_cov = $('#approx_cov').val()
        $.ajax(
          {
              url: '/ajax_coverage_calculator',
              data: 'graceid={{ form.graceid }}&mappathinfo={{ form.mappathinfo }}&inst_cov='+inst_cov+'&band_cov='+band_cov+'&depth_cov='+depth_cov+'&depth_unit='+depth_unit+'&approx_cov='+approx_cov
          }
        ).done(function (reply) 
          {
            console.log(reply)
            $('#calculate').prop('disabled', false)
            if(reply.result_id){
              poll_for_result(reply.result_id)
            } else {
              $('#coveragediv').html(reply);
            }

            $btn.button('reset')
          }
        ).fail(function(jqXHR, textStatus)
          {
            $('#calculate').prop('disabled', false)
            $('#coveragediv').html("<i><font color='red'>Error in Coverage Calculator</font></i>")
            $btn.button('reset')
          }
      );
    });
  });

  //getting the alert event galaxies
  $(document).ready( function() {
    $('#alert_event_galaxies').click(function() {
      var button = document.getElementById('alert_event_galaxies');
      var alertid = document.getElementById('hidden_alertid').value;
      if (button.innerHTML == 'Get') {
        $('#alert_event_galaxies').prop('disabled', true)
        $.ajax(
        {
            url: '/ajax_event_galaxies',
            data: 'alertid='+alertid
        }
        ).done(function (event_galaxies) {
          $('#alert_event_galaxies').prop('disabled', false)
          if (event_galaxies.length > 0) {
            marker_list['alert_gal'] = event_galaxies
            gal_markerlist = aladin_setMarkers(aladin, event_galaxies)
            aladin_setMarkerHtml(event_galaxies, 'alert_gal_div')
            button.innerHTML = 'Hide'
            set_aladin_markerlist['alert_gal'] = gal_markerlist
          } else {
            var html = "<p>No Results</p>"
            $('#alert_gal_div').html(html);
          }
        });
      }
      else if (button.innerHTML == 'Hide') {
        toShow = button.innerHTML == 'Show'
        aladin_markerToggleAll(set_aladin_markerlist['alert_gal'], toShow)
        button.innerHTML = 'Show'
        $('.gal_coll input:checkbox').prop('checked', toShow)
      }
      else if (button.innerHTML == 'Show') {
        toShow = button.innerHTML == 'Show'
        aladin_markerToggleAll(set_aladin_markerlist['alert_gal'], toShow)
        button.innerHTML = 'Hide'
        $('.gal_coll input:checkbox').prop('checked', toShow)
      }
    });
  });

  //Function that calls the XRT sources and populates them 
  // on the aladin viz. Encorporates hide/show
  $(document).ready( function() {
    $('#alert_scimma_xrt').click(function() {
      var button = document.getElementById('alert_scimma_xrt');
      if (button.innerHTML == 'Get') {
        $('#alert_scimma_xrt').prop('disabled', true)
        $.ajax(
        {
            url: '/ajax_scimma_xrt',
            data: 'graceid={{ form.graceid }}'
        }).done(function (event_xrt_sources) {
          $('#alert_scimma_xrt').prop('disabled', false)
          if (event_xrt_sources.length > 0) {
            marker_list['alert_xrt'] = event_xrt_sources
            var xrt_markerlist = aladin_setMarkers(aladin, event_xrt_sources)
            aladin_setMarkerHtml(event_xrt_sources, 'alert_scimmadiv')
            button.innerHTML = 'Hide'
            set_aladin_markerlist['alert_xrt'] = xrt_markerlist
          } else {
            var html = '<p>No results</p>'
            $('#alert_scimmadiv').html(html);
          }
        });
      }
      else if (button.innerHTML == 'Hide') {
        toShow = button.innerHTML == 'Show'
        aladin_markerToggleAll(set_aladin_markerlist['alert_xrt'], toShow)
        button.innerHTML = 'Show'
        $('.xrt_coll input:checkbox').prop('checked', toShow)
      }
      else if (button.innerHTML == 'Show') {
        toShow = button.innerHTML == 'Show'
        aladin_markerToggleAll(set_aladin_markerlist['alert_xrt'], toShow)
        button.innerHTML = 'Hide'
        $('.xrt_coll input:checkbox').prop('checked', toShow)
      }
    });
  });

  //redraws the screen when changing pointing status dropdown
  $('#pointing_status').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
    $('#instrumentsHeader').text('...Loading...')
    $('#alert_instruments_div').html('');
    $('#alert_inst_coll').prop('disabled', true); 
    $('#alert_hideshow_inst').prop('disabled', true);

    $.ajax(
      {
        url: '/ajax_alertinstruments_footprints',
        data: 'graceid={{ form.graceid }}&tos_mjd={{ form.tos_mjd }}&pointing_status='+$(this).val(),
        async: true
      }
    ).done( function(payload){
      data.inst_overlays = payload
      aladin.removeLayers()
      d = gwtmAladinInit(data)
      detectionoverlaylist = d.detectionoverlaylist
      instoverlaylist = d.instoverlaylist
      grboverlaylist = d.grboverlaylist
      $('#instrumentsHeader').text('Instruments')
      $('#alert_inst_coll').prop('disabled', false); 
      $('#alert_hideshow_inst').prop('disabled', false);

      var button = document.getElementById('alert_hideshow_inst')
      button.innerHTML = 'Hide'

      //This should be deleted once markers are encorporated into the gwtmAladinInit
      $('#alert_gal_div').html('');
      var button = document.getElementById('alert_event_galaxies');
      button.innerHTML = 'Get'

      $('#alert_scimmadiv').html('');
      var button = document.getElementById('alert_scimma_xrt');
      button.innerHTML = 'Get'
    });
  });
</script>
  </body>
{% endblock %}
