{% extends "base.html" %}

{% block content %}
<div style="padding-left:16px">
  <body>
    <div class="container">
      <h2>Gravitational Wave Events</h2>
      <div style="white-space: nowrap;">
        <label for="observing_run"><b>Observing Run</b></label>
        <select class="selectpicker" style="max-width: 30px;" data-live-search="false" name=observing_run id=observing_run onchange="reload_alert_select_table()">
          {% for or in observing_runs.keys() %}
            {% if or == selected_observing_run %}
                <option value='{{ or }}' selected>{{ observing_runs[or] }}</option>
            {% else %}
                <option value='{{ or }}'>{{ observing_runs[or] }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <label for="role"><b>Role</b></label>
        <select class="selectpicker" style="max-width: 60px;" data-live-search="false" name=role id=role onchange="reload_alert_select_table()">
          {% for r in roles.keys() %}
            {% if r == selected_role %}
                <option value='{{ r }}' selected>{{ roles[r] }}</option>
            {% else %}
                <option value='{{ r }}'>{{ roles[r] }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <label for="far"><b>FAR</b></label>
        <select class="selectpicker" style="max-width: 60px;" data-live-search="false" name=far id=far onchange="reload_alert_select_table()">
          {% for r in far.keys() %}
            {% if r == selected_far %}
                <option value='{{ r }}' selected>{{ far[r] }}</option>
            {% else %}
                <option value='{{ r }}'>{{ far[r] }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <span class="form-check">
          {% if selected_haspointings == 'true' %}
            <input class="form-check-input" type="checkbox" id="haspointings" checked onchange="reload_alert_select_table()">
          {% else %}
            <input class="form-check-input" type="checkbox" id="haspointings" onchange="reload_alert_select_table()">
          {% endif %}
          <label class="form-check-label" for="haspointings">
            <b>Has Pointings</b>
          </label>
        </span>
        <label for="per_page"><b>Alerts per Page:</b></label>
        <select class="selectpicker" style="max-width: 60px;" data-live-search="false" name=per_page id=per_page onchange="reload_alert_select_table()">
          <option value="25" {% if per_page == '25' %}selected{% endif %}>25</option>
          <option value="10" {% if per_page == '10' %}selected{% endif %}>10</option>
          <option value="50" {% if per_page == '50' %}selected{% endif %}>50</option>
          <option value="100" {% if per_page == '100' %}selected{% endif %}>100</option>
        </select>
      </div>

      {% if selected_role == 'test' or selected_role == 'all' %}
        <div>
          <p><center style="color: red">All ingested test alerts (MS...) are deleted within 48 hours</center></p>
        </div>
      {% endif %}

      <p>Type something in the input field to search the table for GW Event Names or Classifications:</p>
      <input class="form-control" id="myInput" type="text" placeholder="Search..">
      <br>
      <p>Click on an alert name to see its visualization</p>

      <script type="text/javascript">
        var urlParams = new URLSearchParams(window.location.search);
        var page = parseInt(urlParams.get('page')) || 1;
        document.getElementById("pageNumber").textContent = page;
        var total_alerts = "{{ total_alerts }}";
        var total_pages = "{{ total_pages }}";
        document.getElementById("totalAlerts").textContent = total_alerts;
        document.getElementById("totalPages").textContent = total_pages;
      </script>

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Alert</th>
            <th>Classification</th>
            <th>Distance (Mpc)</th>
            <th># Pointings</th>
          </tr>
        </thead>
        <tbody id="myTable">
          {% for a in alerts %}
            <tr>
              <td id="row_{{a['alertname']}}"><a href="/alerts?graceids={{ a['alertname'] }}">{{ a['alertname'] }}</a></td>
              <td>{{ a['class'] }}</td>
              {% if a['distance'][0] == '-'%}
                <td> NA </td>
              {% else %}
                <td>{{ a['distance'] }}</td>
              {% endif %}
              <td>{{ a['pcounts'] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="pagination" style="margin-top: 20px; display: flex; justify-content: center;">
      <ul class="pagination d-flex justify-content-between" style="width: 100%; list-style-type: none; padding: 0;">
        <li class="page-item">
          <button id="prev_button" onclick="changePage('prev')" {% if page <= 1 %}disabled{% endif %}>&#9668; Previous</button>
        </li>
        <li class="page-item">
          <span id="totalAlerts">{{ total_alerts }}</span> record(s) found. Showing page <span id="pageNumber">{{ page }}</span> / <span id="totalPages">{{ total_pages }}</span>.
        </li>
        <li class="page-item">
          <button id="next_button" onclick="changePage('next')" {% if total_pages <= page %}disabled{% endif %}>&#9658; Next </button>
        </li>
      </ul>
    </div>

    <script type='text/javascript'>

      window.onload = function() {
        var alerts = JSON.parse('{{ alerts | tojson }}')

        for (var k=0 ; k<alerts.length; k++) {
          row_id = "row_" + alerts[k].alertname

          row_html = '<a href="/alerts?graceids='+alerts[k].alertname+'">'+alerts[k].alertname+'</a> '
          row_html += get_alerttype_badge_span(alerts[k].alert_types, alerts[k].has_icecube)
          $("#"+row_id).html(row_html)
        }
      }

      function changePage(button) {
        var urlParams = new URLSearchParams(window.location.search);
        var page = parseInt(urlParams.get('page')) || 1;
        if (button == "prev") {
          page = page - 1;
        } else if (button == "next") {
          page = page + 1;
        }
        var role = "{{ selected_role }}";
        var observing_run = "{{ selected_observing_run }}";
        var far = "{{ selected_far }}";
        var haspointings = "{{ selected_haspointings }}";
        var per_page = "{{ per_page }}";

        window.location = 'alert_select?role=' + role + '&observing_run=' + observing_run + '&far=' + far + '&haspointings=' + haspointings + '&page=' + page + '&per_page=' + per_page;
      }

      function get_alerttype_badge_span(alert_types, has_icecube) {
        var BADGE_DICT = {
          "Preliminary" : ["primary", "P"],
          "Initial"     : ["info", "I"],
          "Update"      : ["success", "U"],
          "Retraction"  : ["danger", "R"],
          "EarlyWarning": ["warning", "EW"],
          "ExtCoinc"    : ["success", "EC"],
          "Publication" : ["dark", "PU"]
        }

        alerttype_badge_span = ""
        parsed_types = []

        for (var a=0; a <alert_types.length; a++) {
          atype = alert_types[a]
          subtype = null
          if (atype.includes("ExtCoinc")) {
            subtype = atype.split('-')[0]
            atype = "ExtCoinc"
          }
          if (atype == "Early_Warning") {
            atype = "EarlyWarning"
          }
          var badge_class = BADGE_DICT[atype]
          var num_ats = parsed_types.filter(x => x.includes(atype)).length

          var at = ""
          var badgetype = ""

          if (num_ats > 0 && subtype == null) {
            at = badge_class[1] + num_ats.toString()
            badgetype = badge_class[0]
          } else if (subtype != null) {
            var subbadge_class = BADGE_DICT[subtype]
            subnum_ats = parsed_types.filter(x => x.includes(subtype)).length
            at = subbadge_class[1] + badge_class[1]
            badgetype = subbadge_class[0]
          } else {
            at = badge_class[1]
            badgetype = badge_class[0]
          }

          alerttype_badge_span += '<span class="badge badge-'+badgetype+'">'+at+'</span>'
          parsed_types.push(atype)
        }

        if (has_icecube) {
          alerttype_badge_span += '<span style="display:inline-block;"><img src="static/ice.png" style="width:25px;height:25px;"></span>'
        }
        return alerttype_badge_span
      }

      $(document).ready(function(){
        $("#myInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });

      function reload_alert_select_table() {
        var observing_run = $('#observing_run').val()
        var role = $('#role').val()
        var far = $('#far').val()
        var haspointings = $('#haspointings').is(":checked")
        var per_page = $('#per_page').val()

        window.location = 'alert_select?role='+role+'&observing_run='+observing_run+'&far='+far+'&haspointings='+haspointings+'&per_page='+per_page
      };

      function changeResultsPerPage() {
        var selected_results_per_page = parseInt(document.getElementById("results_per_page").value);
        // Update the results per page value in the URL
        var urlParams = new URLSearchParams(window.location.search);
        urlParams.set('results_per_page', selected_results_per_page);
        // Redirect to the same page with the updated results per page value
        window.location.search = urlParams.toString();
      };
    </script>

    </body>
{% endblock %}
