{% extends "base.html" %}

{% block content %}
<div style="padding-left:16px">
  <h2>Gravitational Wave Ligo Alerts</h2>
  <p></p>
  <form action="" method="post">

    <select class='selectpicker' name=graceids id=graceids>
        {% for a in form.graceids %}
          {% if a['value'] == form.graceid %}
            <option selected='True' value={{ a['value'] }}>{{ a['name'] }}</option>
          {% else %}
            <option value={{ a['value'] }}>{{ a['name'] }}</option>
          {% endif %}
        {% endfor %}
    </select>

  {% if form.viz %}
      <h3>Gravitational Wave Localization and Pointings: {{ form.graceid }}</h3>
      {% include "alert_info.html" %}
  {% endif %}
      

  <body>
    <script type="text/javascript">
      $('#graceids').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
        window.location='/alerts?graceids='+$(this).val()
      });

      // window.onload = function () {
      //   document.querySelector("#displayHpxGrid").style.visibility = "hidden";
      // };

    </script>
  </body>
{% endblock %}
