{% extends "base.html" %}

{% block content %}
<div style="padding-left:16px">
  <form action="" method="post">
    <div class="dropdown" name=gracieds id=graceids>
    <h2>Gravitational Wave Events</h2>      Choose an event:
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Events
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
          <input class="form-control" id="gidSearch" type="text" placeholder="Search..">
          {% for a in form.graceids[1:] %}
            <li><a href="/alerts?graceids={{ a['value'] }}">{{ a['name'] }}</a></li>
          {% endfor %}
      </ul>
    </div>  

  {% if form.viz %}
      <h3>Gravitational Wave Localization and Pointings: {{ form.graceid }} [<a href="https://gracedb.ligo.org/superevents/{{ form.graceid }}/view/">GraceDB</a>]</h3>
      {% if form.graceid == 'TEST_EVENT' %}
        <h5>These pointings are automatically deleted every 12 hours (12:00 and 24:00 PST)</h5>
      {% endif %}
      {% include "alert_info.html" %}
  {% endif %}

  <body>
    <script type="text/javascript">
      $(document).ready(function(){
        $("#gidSearch").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $(".dropdown-menu li").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });

      // window.onload = function () {
      //   document.querySelector("#displayHpxGrid").style.visibility = "hidden";
      // };

    </script>
  </body>
{% endblock %}
