{% block alert_viz %}

<body>
  <ul class="nav nav-tabs">
    {% for a_type in form.alert_types %}
      {% if a_type == form.alert_type %}
        <li class="active"><a href="/{{ form.page }}?graceids={{ form.graceid }}&pointing_status={{ form.status }}&alert_type={{ a_type }}">{{ a_type }}</a></li>
      {% else %}
        <li><a href="/{{ form.page }}?graceids={{ form.graceid }}&pointing_status={{ form.status }}&alert_type={{ a_type }}">{{ a_type }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <div>
    <div id="aladin-lite-div" style="position: relative;"></div>
  </div>
  <div>
    <p><b>Pointing Status</b> 
    <select class='selectpicker' name=pointing_status id=pointing_status>
      {% for a in form.pointing_status %}
        {% if a['value'] == form.status %}
          <option selected='True' value={{ a['value'] }}>{{ a['name'] }}</option>
        {% else %}
          <option value={{ a['value'] }}>{{ a['name'] }}</option>
        {% endif %}
      {% endfor %}
    </select>
    </p>
  </div>
    <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <table class="table">
          <thead>
            <tr>
              <th>Information</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>

            <tr class="info">
              <td>Dectectors</td>
              <td>{{ form.selected_alert_info.detectors }}</td>
            </tr>
            <tr class="info">
              <td>Time of Signal</td>
              <td>{{ form.selected_alert_info.time_of_signal }} UTC</td>
            </tr>
            <tr class="info">
              <td>False Alarm Rate</td>
              <td>once per {{form.selected_alert_info.human_far}} {{form.selected_alert_info.human_far_unit}}</td>
            </tr>
            <tr class="info">
              <td>Distance</td>
              <td>{{ form.selected_alert_info.distance }} +/- {{ form.selected_alert_info.distance_error }} Mpc</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6">
        <table class="table">
          <thead>
            <tr>
              <th>Classification (CBC Only)</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr class="info">
              <td>BNS</td>
              <td>{{ form.selected_alert_info.prob_bns }}</td>
            </tr>
            <tr class="info">
              <td>NSBH</td>
              <td>{{ form.selected_alert_info.prob_nsbh }}</td>
            </tr>
            <tr class="info">
              <td>Mass Gap</td>
              <td>{{ form.selected_alert_info.prob_gap }}</td>
            </tr>
            <tr class="info">
              <td>BBH</td>
              <td>{{ form.selected_alert_info.prob_bbh }}</td>
            </tr>
            <tr class="info">
              <td>Terrestrial</td>
              <td>{{ form.selected_alert_info.prob_terrestrial }}</td>
            </tr>
            <tr class="info">
              <td>Has NS</td>
              <td>{{ form.selected_alert_info.prob_hasns }}</td>
            </tr>
            <tr class="info">
              <td>Has Remnant</td>
              <td>{{ form.selected_alert_info.prob_hasremenant }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script>
    $(document).ready( function() {
        $('#calculate').click(function() {
          var $btn = $(this).button('loading');
          var inst_cov = $('#inst_cov').val()
          var band_cov = $('#band_cov').val()
          var depth_cov = $('#depth_cov').val()
           $.ajax(
             {
                url: '/coverage',
                data: 'graceid={{ form.graceid }}&mappathinfo={{ form.mappathinfo }}&inst_cov='+inst_cov+'&band_cov='+band_cov+'&depth_cov='+depth_cov
             }
           ).done(function (reply) {
             $('#coveragediv').html(reply);
             $btn.button('reset');
           });
           //$.ajax("{{ url_for('plot_prob_coverage', graceid= form.graceid, mappathinfo=form.mappathinfo, inst_cov='+inst_cov+', band_cov='+band_cov+') | safe }}").done(function (reply) {
           //   $('#coveragediv').html(reply);
           //$btn.button('reset');
           //});
        });
    });
    $(document).ready(function () {
    $(document).ajaxStart(function () {
        $('#calculate').addClass('disabled');
    }).ajaxStop(function () {
        $('#calculate').removeClass('disabled');

    });
});
</script>
<div class = "container-fluid">
  <i>
  Calculate the coverage of the GW localization over time as a function of wavelength (and depth, soon). Once a HEALPIX pixel has been first covered, it is marked as done, to avoid double counting probability when the same field is covered multiple times. After clicking, be patient, it may take up to 20 seconds to fully compute the coverage profile.</i>
  <br>
  <b>Instrument</b>
  <select class='selectpicker' name=inst_cov id=inst_cov>
      {% for a in form.inst_cov %}
          <option value={{ a['value'] }}>{{ a['name'] }}</option>
      {% endfor %}
  </select>
  <b>Band</b>
  <select class='selectpicker' name=band_cov id=band_cov>
      {% for a in form.band_cov %}
        <option value={{ a['value'] }}>{{ a['name'] }}</option>
      {% endfor %}
  </select>
  <b>Depth</b>
  <input type="text" name=depth_cov id=depth_cov>
  <input type="button" id="calculate" value="Calculate" class="btn btn-primary" style="display: block; margin: 0 auto;"/>
  </div>
  <div id ="coveragediv"></div>
</div>
    <link rel="stylesheet" href="http://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css" />
    <link href="https://aladin.u-strasbg.fr/AladinLite/css/style.css" rel="stylesheet" />

    <br><br>
    <script type="text/javascript" src="http://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>
    
    <!-- Creation of Aladin Lite instance with initial parameters -->
    <script type="text/javascript">
        var survey = "P/DSS2/color"
        var fov = 180
        var target = "{{form.avgra}} {{form.avgdec}}"
        var aladinParams = {fov: fov, target: target, showGotoControl:true, showFullscreenControl: true, showSimbadPointerControl: true, showShareControl: true, realFullscreen: false, cooFrame:"ICRSd"};
        var aladin = A.aladin('#aladin-lite-div', aladinParams)


        $('input[name=survey]').change(function() {
        aladin.setImageSurvey($(this).val());});

        var sunImg = new Image();
        sunImg.src = '{{url_for('static',filename='sun-logo-100.png')}}';
        sunImg.onload = function() {
            var cat = A.catalog({shape: sunImg});
            aladin.addCatalog(cat);
            cat.addSources(A.source({{form.selected_alert_info.sun_ra}},{{form.selected_alert_info.sun_dec}}));
            cat.name = 'Sun at GW T0';
        };

        var moonImg = new Image();
        moonImg.src = '{{url_for('static',filename='moon-supersmall.png')}}';
        moonImg.onload = function() {
            var cat = A.catalog({shape: moonImg});
            aladin.addCatalog(cat);
            cat.addSources(A.source({{form.selected_alert_info.moon_ra}},{{form.selected_alert_info.moon_dec}}));
            cat.name = 'Moon at GW T0';
        };

        var overlaylist = {};

        var overlays = JSON.parse('{{ overlays | tojson }}');
        for (i = 0; i < overlays.length; i++) {
          var contour = A.graphicOverlay({id: i, color:overlays[i].color, lineWidth: 2, name:overlays[i].name});
          aladin.addOverlay(contour);
          var overlay_contours = overlays[i].contours
          for (j = 0; j < overlay_contours.length; j++){
            contour.addFootprints([A.polygon(overlay_contours[j].polygon)])
          overlaylist[i] = contour;

          }
        }

        var layersControl = aladin.box({title: 'Instruments', position: 'right', css: {top: '55%', 'overflow-y': 'scroll', 'max-height': '50%'}});

        var html = '<form id="InstrumentSelector">';
        for (var k=0 ; k<overlays.length; k++) {
            var cat = overlays[k];
            html += '<fieldset><span class="indicator right-triangle"></span><label for="overlay-' + k + '">';
            html += '<input id="overlay-' + k + '" type="checkbox" value="' + k + '" checked="checked"  >' + cat.name + '</input></label>';
            html += '<div class="cat-options" style="display: none;"><table><tr><td>Color</td><td><input type="color"></input></td></tr></select></td></tr></table></div>';
            html += '</fieldset>';
        }
        html += '</form>';



        layersControl.setContent(html);
        layersControl.show();

        $('#InstrumentSelector :checkbox').change(function() {
            var contour = overlaylist[this.value];

            if (this.checked) {
                contour.show();
            }
            else {
                contour.hide();
            }
        });

        $("#InstrumentSelector input[type='color']").change(function() {
            var hipsId = $(this).parents('fieldset').find("input[type='checkbox']").val();
            //overlay.color = this.value;
            //#aladin.view.requestRedraw();
            //overlaylist[hipsId].updateShape({color: this.value});
            overlaylist[hipsId].color=this.value;
            aladin.view.requestRedraw();
        });

        $('.indicator').click(function() {
            var $this = $(this);
            if ($this.hasClass('right-triangle')) {
                $this.removeClass('right-triangle');
                $this.addClass('down-triangle');
                $this.parent().find('.cat-options').slideDown(300);
                var hipsId = $(this).parent().find("input[type='checkbox']").val();
                $this.parent().find("input[type='color']").val(overlaylist[hipsId].color);
            }
            else {
                $this.removeClass('down-triangle');
                $this.addClass('right-triangle');
                $this.parent().find('.cat-options').slideUp(300);
            }
        });

    </script>
  </body>

  <body>
    <script type="text/javascript">
      $('#pointing_status').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
        window.location='/{{ form.page }}?graceids={{form.graceid}}&alert_type={{form.alert_type}}&pointing_status='+$(this).val()
      });
    </script>
  </body>
{% endblock %}