{% block alert_viz %}
<head>
<style>
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
</style>
</head>
<body>
  <ul class="nav nav-tabs">
    {% for a_type in form.alert_types if a_type != "Retraction" %}
      {% if a_type == form.alert_type %}
        <li class="active"><a href="/{{ form.page }}?graceids={{ form.graceid }}&pointing_status={{ form.status }}&alert_type={{ a_type }}">{{ a_type }}</a></li>
      {% else %}
        <li><a href="/{{ form.page }}?graceids={{ form.graceid }}&pointing_status={{ form.status }}&alert_type={{ a_type }}">{{ a_type }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <div>
    <div id="aladin-lite-div" style="position: relative;"></div>
  </div>
  <div>
    <p><b>Pointing Status</b> 
    <select class='selectpicker' name=pointing_status id=pointing_status>
      {% for a in form.pointing_status %}
        {% if a['value'] == form.status %}
          <option selected='True' value={{ a['value'] }}>{{ a['name'] }}</option>
        {% else %}
          <option value={{ a['value'] }}>{{ a['name'] }}</option>
        {% endif %}
      {% endfor %}
    </select>
    </p>

    <p>
      <label for="amount">Date range (days since Time of Signal):</label>
      <input type="text" id="amount" style="border: 0; color: #f6931f; font-weight: bold;" size="100"/>
    </p>
     
    <div id="slider-range"></div>
  </div>
    <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <table class="table">
          <thead>
            <tr>
              <th>Information</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
            {% if form.selected_alert_info.group != 'None' and form.selected_alert_info.group != '' and form.selected_alert_info.group != None %}
            <tr class="info">
              <td>Group</td>
              <td>{{ form.selected_alert_info.group }}</td>
            </tr>
            {% endif %}
            <tr class="info">
              <td>Detectors</td>
              <td>{{ form.selected_alert_info.detectors }}</td>
            </tr>
            <tr class="info">
              <td>Time of Signal</td>
              <td>{{ form.selected_alert_info.time_of_signal }} UTC</td>
            </tr>
            <tr class="info">
              <td>False Alarm Rate</td>
              <td>once per {{form.selected_alert_info.human_far}} {{form.selected_alert_info.human_far_unit}}</td>
            </tr>
            {% if form.selected_alert_info.group != 'Burst' %}
            <tr class="info">
              <td>Distance</td>
              <td>{{ form.distance }} +/- {{ form.distance_error }} Mpc</td>
            </tr>
            {% else %}
            <tr class="info">
              <td>Central Frequency</td>
              <td>{{form.selected_alert_info.centralfreq}} Hz</td>
            </tr>
            <tr class="info">
              <td>Duration</td>
              <td>{{form.selected_alert_info.duration}} seconds</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
      {% if form.selected_alert_info.group != 'Burst' %}
      <div class="col-sm-6">
        <table class="table">
          <thead>
            <tr>
              <th>Classification (CBC Only)</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr class="info">
              <td>BNS</td>
              <td>{{ form.selected_alert_info.prob_bns }}</td>
            </tr>
            <tr class="info">
              <td>NSBH</td>
              <td>{{ form.selected_alert_info.prob_nsbh }}</td>
            </tr>
            <tr class="info">
              <td>Mass Gap</td>
              <td>{{ form.selected_alert_info.prob_gap }}</td>
            </tr>
            <tr class="info">
              <td>BBH</td>
              <td>{{ form.selected_alert_info.prob_bbh }}</td>
            </tr>
            <tr class="info">
              <td>Terrestrial</td>
              <td>{{ form.selected_alert_info.prob_terrestrial }}</td>
            </tr>
            <tr class="info">
              <td>Has NS</td>
              <td>{{ form.selected_alert_info.prob_hasns }}</td>
            </tr>
            <tr class="info">
              <td>Has Remnant</td>
              <td>{{ form.selected_alert_info.prob_hasremenant }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>
  </div>
  <script>
    $(document).ready( function() {
        $('#calculate').click(function() {
          var $btn = $(this).button('loading');
          var inst_cov = $('#inst_cov').val()
          var band_cov = $('#band_cov').val()
          var depth_cov = $('#depth_cov').val()
          var depth_unit = $('#depth_unit').val()
           $.ajax(
             {
                url: '/coverage',
                data: 'graceid={{ form.graceid }}&mappathinfo={{ form.mappathinfo }}&inst_cov='+inst_cov+'&band_cov='+band_cov+'&depth_cov='+depth_cov+'&depth_unit='+depth_unit
             }
           ).done(function (reply) {
             $('#coveragediv').html(reply);
             $btn.button('reset');
           });
        });
    });
    $(document).ready(function () {
    $(document).ajaxStart(function () {
        $('#calculate').addClass('disabled');
    }).ajaxStop(function () {
        $('#calculate').removeClass('disabled');

    });
});
</script>
<div class = "container-fluid">
  <center><h3>Coverage Calculator</h3></center>
  <br>

  <i>
  Calculate the coverage of the GW localization over time, with choices to limit the coverage calculation to particular sets of instruments, wavelengths, or depth. All fields are optional, but cuts on depths must have an associated unit. If an empty form is submitted, the total reported coverage regardless of depth or band is computed. Once a HEALPIX pixel has been first covered, it is marked as done, to avoid double counting probability when the same field is covered multiple times. After clicking, be patient, it may take up to 20 seconds to fully compute the coverage profile.</i>
  <br>

  <div id ="coveragediv"></div>
  
  <b>Instrument</b>
  <select class="selectpicker" multiple data-live-search="true" name=inst_cov id=inst_cov>
      {% for a in form.inst_cov %}
          <option value={{ a['value'] }}>{{ a['name'] }}</option>
      {% endfor %}
  </select>
  <b>Band</b>
  <select class="selectpicker" multiple data-live-search="true" name=band_cov id=band_cov>
      {% for a in form.band_cov %}
        <option value={{ a['value'] }}>{{ a['name'] }}</option>
      {% endfor %}
  </select>
  <b>Depth</b>
  <input type="text" name=depth_cov id=depth_cov>
  <b>Depth Unit</b>
  <select class="selectpicker" multiple data-max-options="1" name=depth_unit id=depth_unit>
      {% for a in form.depth_unit %}
        {% if 'erg' in a['name'] %}
        <option value={{ a['value'] }}>FLUX erg cm^-2 s^-1</option>
        {% else %}
        <option value={{ a['value'] }}>{{ a['name'] }}</option>
        {% endif %}
      {% endfor %}
  </select>
  <br><br>
  <input type="button" id="calculate" value="Calculate" class="btn btn-primary" style="display: block; margin: 0 auto;"/>
  </div>
</div>
    <link rel="stylesheet" href="http://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css" />
    <link href="https://aladin.u-strasbg.fr/AladinLite/css/style.css" rel="stylesheet" />

    <br><br>
    <script type="text/javascript" src="http://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>
    
    <!-- Creation of Aladin Lite instance with initial parameters -->
    <script>

        var survey = "P/DSS2/color"
        var fov = 180
        var target = "{{form.avgra}} {{form.avgdec}}"
        var aladinParams = {fov: fov, target: target, showGotoControl:true, showFullscreenControl: true, showSimbadPointerControl: true, showShareControl: true, realFullscreen: false, cooFrame:"ICRSd", showReticle: false};
        var aladin = A.aladin('#aladin-lite-div', aladinParams)

        var detection_overlays = JSON.parse('{{ detection_overlays | tojson }}');
        var inst_overlays = JSON.parse('{{ inst_overlays | tojson }}');
        var GRBoverlays = JSON.parse('{{ GRBoverlays | tojson }}');
        var galaxy_cats = JSON.parse('{{ galaxy_cats | tojson }}');

        $('input[name=survey]').change(function() {
        aladin.setImageSurvey($(this).val());});

        var sunImg = new Image();
        sunImg.src = "{{url_for('static',filename='sun-logo-100.png')}}";
        var cat = A.catalog({shape: sunImg, name: 'Sun at GW T0'});
        aladin.addCatalog(cat);
        cat.addSources(A.source('{{ form.selected_alert_info.sun_ra }}', '{{ form.selected_alert_info.sun_dec }}'));
    
        var moonImg = new Image();
        moonImg.src = "{{url_for('static',filename='moon-supersmall.png')}}";
        var cat = A.catalog({shape: moonImg, name: 'Moon at GW T0'});
        aladin.addCatalog(cat);
        cat.addSources(A.source('{{ form.selected_alert_info.moon_ra }}', '{{ form.selected_alert_info.moon_dec }}'));

        GRBoverlaylist=[];
        for (i = 0; i < GRBoverlays.length; i++) {
          var moc = A.MOCFromJSON(GRBoverlays[i].json, {opacity: 0.25, color: GRBoverlays[i].color, lineWidth: 1, name: GRBoverlays[i].name});
          aladin.addMOC(moc);
          GRBoverlaylist[i] = moc;
          //initialize unshown
          moc.hide()
        }

        overlaylist = [];
        for (i = 0; i < inst_overlays.length; i++) {
          var contour = A.graphicOverlay({id: i, color:inst_overlays[i].color, lineWidth: 2, name:inst_overlays[i].name});
          aladin.addOverlay(contour);
          var overlay_contours = inst_overlays[i].contours
          for (j = 0; j < overlay_contours.length; j++){
            contour.addFootprints([A.polygon(overlay_contours[j].polygon)])
          }
          overlaylist[i] = []
          overlaylist[i][0] = contour;
          overlaylist[i][1] = true //toshow
          overlaylist[i][2] = inst_overlays[i].color //tocolor
        }

        for (i = 0; i < galaxy_cats.length; i++) {
          var gal_markers = galaxy_cats[i].markers
          var markerlayer = A.catalog({name:galaxy_cats[i].name})
          for (j = 0; j < gal_markers.length; j++) {
            var marker = A.marker(gal_markers[j].ra, gal_markers[j].dec, {popupTitle: gal_markers[j].name+"_gal", popupDesc: gal_markers[j].info})
            markerlayer.addSources([marker])
          }
          markerlayer.hide
          aladin.addCatalog(markerlayer)
        }

        detectionoverlaylist=[];
        for (i = 0; i < detection_overlays.length; i++) {
          var contour = A.graphicOverlay({id: i, color:detection_overlays[i].color, lineWidth: 2, name:detection_overlays[i].name});
          aladin.addOverlay(contour);
          var overlay_contours = detection_overlays[i].contours
          for (j = 0; j < overlay_contours.length; j++){
            contour.addFootprints([A.polygon(overlay_contours[j].polygon)])
          }
          detectionoverlaylist[i] = []
          detectionoverlaylist[i][0] = contour;
          detectionoverlaylist[i][1] = true //toshow
          detectionoverlaylist[i][2] = detection_overlays[i].color //tocolor
        }
        
        // var detectionlayersControl = aladin.box({title: 'Detections', position: 'top', css: {left: '75%', 'overflow-y': 'scroll', 'max-height': '50%'}});

        var instlayersControl = aladin.box({title: 'Follow-up Instruments', position: 'right', css: {top: '55%', 'overflow-y': 'scroll', 'max-height': '50%'}});

        var GRBlayersControl = aladin.box({title: 'GRB Coverage', position: 'right', css: {top: '30%', 'overflow-y': 'scroll', 'max-height': '50%'}});

        // var DEThtml = '<form id="DetectionSelector">';
        // for (var k=0 ; k<detection_overlays.length; k++) {
        //     var cat = detection_overlays[k];
        //     DEThtml += '<input id="' + cat.name + '" type="checkbox" value="' + cat.name + '" checked="checked"  >' + cat.name + '</input></label>';
        //     DEThtml += '</fieldset>';
        // }
        // DEThtml += '</form>';
        // detectionlayersControl.setContent(DEThtml);
        // detectionlayersControl.show();

        var html = '<form id="InstrumentSelector">';
        for (var k=0 ; k<inst_overlays.length; k++) {
            var cat = inst_overlays[k];
            html += '<fieldset><span class="indicator right-triangle"></span><label for="' + cat.name + '">';
            html += '<input id="' + cat.name + '" type="checkbox" value="' + cat.name + '" checked="checked"  >' + cat.name + '</input></label>';
            html += '<div class="cat-options" style="display: none;"><table><tr><td>Color</td><td><input type="color"></input></td></tr></select></td></tr></table></div>';
            html += '</fieldset>';
        }
        html += '</form>';
        instlayersControl.setContent(html);
        instlayersControl.show();

        var GRBhtml = '<form id="GRBInstrumentSelector">';
        for (var k=0 ; k<GRBoverlays.length; k++) {
            var cat = GRBoverlays[k];
            if (cat.name == 'Fermi in South Atlantic Anomaly'){
              GRBhtml += '<fieldset><label for="' + cat.name + '">' + cat.name + '</label>';
              GRBhtml += '</fieldset>';
            } else {
            GRBhtml += '<fieldset><label for="' + cat.name + '">';
            GRBhtml += '<input id="' + cat.name + '" type="checkbox" value="' + cat.name + '" >' + cat.name + '</input></label>';
            GRBhtml += '</fieldset>';
            }
        }
        GRBhtml += '</form>';
        GRBlayersControl.setContent(GRBhtml);
        GRBlayersControl.show();

        $('#DetectionSelector :checkbox').change(function() {
            var iter = 0
            for(var k=0; k<detectionoverlaylist.length; k++)
            {
              if (this.value == detectionoverlaylist[k][0].name) {
                iter = k
              }
            }
            if (this.checked) {
                detectionoverlaylist[iter][0].show()
                detectionoverlaylist[iter][1] = true
            }
            else {
                detectionoverlaylist[iter][0].hide()
                detectionoverlaylist[iter][1] = false
            }
        });


        $('#InstrumentSelector :checkbox').change(function() {
            var iter = 0
            for(var k=0; k<overlaylist.length; k++)
            {
              if (this.value == overlaylist[k][0].name) {
                iter = k
              }
            }
            if (this.checked) {
                overlaylist[iter][0].show()
                overlaylist[iter][1] = true
            }
            else {
                overlaylist[iter][0].hide()
                overlaylist[iter][1] = false
            }
        });

        $('#GRBInstrumentSelector :checkbox').change(function() {
            var iter = 0
            for(var k=0; k<GRBoverlaylist.length; k++)
            {
              if (this.value == GRBoverlaylist[k].name) {
                iter = k
              }
            }

            if (this.checked) {
                GRBoverlaylist[iter].show()
            }
            else {
                GRBoverlaylist[iter].hide()
            }
        });

        $("#InstrumentSelector input[type='color']").change(function() {
            var contname = $(this).parents('fieldset').find("input[type='checkbox']").val();

            var iter = 0
            for(var k=0; k<overlaylist.length; k++)
            {
              if (contname == overlaylist[k][0].name) {
                iter = k
              }
            }

            overlaylist[iter][0].color=this.value;
            overlaylist[iter][2] = this.value
            aladin.view.requestRedraw();
        });

        $('.indicator').click(function() {
            var $this = $(this);
            if ($this.hasClass('right-triangle')) {
                $this.removeClass('right-triangle');
                $this.addClass('down-triangle');
                $this.parent().find('.cat-options').slideDown(300);
                var hipsId = $(this).parent().find("input[type='checkbox']").val();
                var iter = 0
                for(var k=0; k<overlaylist.length; k++)
                {
                  if (hipsId == overlaylist[k][0].name) {
                    iter = k
                  }
                }
                $this.parent().find("input[type='color']").val(overlaylist[iter][0].color);
            }
            else {
                $this.removeClass('down-triangle');
                $this.addClass('right-triangle');
                $this.parent().find('.cat-options').slideUp(300);
            }
        });

        
        $(function() {
          $( "#slider-range" ).slider({
            range: true,
            min: new Number('{{ form.mintime }}'),
            max: new Number('{{ form.maxtime }}'),
            step: new Number('{{ form.step }}'),
            values: [ (new Number('{{ form.mintime }}')), (new Number('{{ form.maxtime }}')) ],

            slide: function( event, ui ) {
                $( "#amount" ).val((new Number(ui.values[ 0 ])).toFixed(3) + " - " + (new Number(ui.values[ 1 ])).toFixed(3));
                aladin.removeLayers()

                var sunImg = new Image();
                sunImg.src = "{{url_for('static',filename='sun-logo-100.png')}}";
                var cat = A.catalog({shape: sunImg, name: 'Sun at GW T0'});
                aladin.addCatalog(cat);
                cat.addSources(A.source('{{ form.selected_alert_info.sun_ra }}', '{{ form.selected_alert_info.sun_dec }}'));;

                var moonImg = new Image();
                moonImg.src = "{{url_for('static',filename='moon-supersmall.png')}}";
                var cat = A.catalog({shape: moonImg, name: 'Moon at GW T0'});
                aladin.addCatalog(cat);
                cat.addSources(A.source('{{ form.selected_alert_info.moon_ra }}', '{{ form.selected_alert_info.moon_dec }}'));
                
                for (i = 0; i < GRBoverlaylist.length; i++) {
                  aladin.addMOC(GRBoverlaylist[i]);
                }

                

                for (i = 0; i < galaxy_cats.length; i++) {
                  var gal_markers = galaxy_cats[i].markers
                  var markerlayer = A.catalog({name:galaxy_cats[i].name})
                  for (j = 0; j < gal_markers.length; j++) {
                    var marker = A.marker(gal_markers[j].ra, gal_markers[j].dec, {popupTitle: gal_markers[j].name, popupDesc: gal_markers[j].info})
                    markerlayer.addSources([marker])
                  }
                  markerlayer.hide
                  aladin.addCatalog(markerlayer)
                }

                var mint = new Number(ui.values[0])
                var maxt = new Number(ui.values[1])
                for (i = 0; i < inst_overlays.length; i++) {
                    var toshow = false
                    var tocolor = ''
                    var iter = 0

                    for (j = 0; j < overlaylist.length; j++) {
                      if (inst_overlays[i].name == overlaylist[j][0].name) {toshow = overlaylist[j][1]; tocolor = overlaylist[j][2]; iter = j}
                    }
                    
                    var contour = A.graphicOverlay({id: i, color:tocolor, lineWidth: 2, name:inst_overlays[i].name});
                    aladin.addOverlay(contour);
                    var overlay_contours = inst_overlays[i].contours
                    for (j = 0; j < overlay_contours.length; j++){
                      if (overlay_contours[j].time >= mint && overlay_contours[j].time <= maxt || inst_overlays[i].name == 'GW Contour'){
                        contour.addFootprints([A.polygon(overlay_contours[j].polygon)])
                      }
                      if (!toshow) { contour.hide() }
                    }
                    overlaylist[iter][0] = contour
                }

                for (i = 0; i < detection_overlays.length; i++) {
                  var contour = A.graphicOverlay({id: i, color:detection_overlays[i].color, lineWidth: 2, name:detection_overlays[i].name});
                  aladin.addOverlay(contour);
                  var overlay_contours = detection_overlays[i].contours
                  for (j = 0; j < overlay_contours.length; j++){
                    contour.addFootprints([A.polygon(overlay_contours[j].polygon)])
                  }
                }
            }
          });
          $( "#amount" ).val( (new Number($( "#slider-range" ).slider( "values", 0 ))) +
            " - " + (new Number($( "#slider-range" ).slider( "values", 1 ))));
        });

    </script>
  </body>

  <body>
    <script type="text/javascript">
      $('#pointing_status').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
        window.location='/{{ form.page }}?graceids={{form.graceid}}&alert_type={{form.alert_type}}&pointing_status='+$(this).val()
      });
    </script>
  </body>
{% endblock %}