<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Treasure Map</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!--Jquery UI (needs to be before bootstrap)-->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

  <!--Bootstrap-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

  <!--Bootstrap select MUST BE CALLED AFTER BOOTSTRAP-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>


  <!--Aladin lite-->
  <link rel="stylesheet" href="http://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css" />
  <link href="https://aladin.u-strasbg.fr/AladinLite/css/style.css" rel="stylesheet" />
  <script type="text/javascript" src="http://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>

  <!---->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.61.0/lib/codemirror.min.css">
  <script src="https://cdn.jsdelivr.net/npm/codemirror@5.61.0/addon/runmode/runmode-standalone.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/codemirror@5.61.0/mode/python/python.min.js"></script>

  <!--
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  -->

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/static/gwtm_logo.png" width="32" height="32" class="d-inline-block align-top" alt="">
        TM
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/alert_select">GW Events</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              Query Pages
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/search_pointings">Pointings</a>
              <a class="dropdown-item" href="/searchinstruments">Instruments</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              Submit Pages
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/submit_pointings">Pointings</a>
              <a class="dropdown-item" href="/submit_instrument">Instruments</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              Documentation
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/documentation">API Documentation</a>
              <a class="dropdown-item" href="/jupyter_tutorial">API Jupyter Notebook Tutorial</a>
              <a class="dropdown-item" href="/development_blog">What's New</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if current_user.is_anonymous %}
            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="/manage_user">Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  
<!--
  <nav class="navbar navbar-inverse" style="background-color: #2c3840">  
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Treasure Map</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/alert_select">GW Events</a>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Query Pages <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/search_pointings">Pointings</a></li>
          <li><a href="/search_instruments">Instruments</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Submit Pages <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/submit_pointings">Pointings</a></li>
          <li><a href="/submit_instrument">Instruments</a></li>
        </ul>
      </li>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/status">Observatory Statuses</a>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Documentation <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/documentation">API Documentation</a></li>
          <li><a href="/jupyter_tutorial">API Jupyter Notebook Tutorial</a></li>
          <li><a href="/development_blog">What's New</a></li>
        </ul>
    </ul> 
    <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_anonymous %}
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        {% else %}
          <li><a href="/manage_user">Profile</a></li>
          <li><a href="/logout">Logout</a></li>
        {% endif %}
    </ul>
  </div>
</nav>
-->


<div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
          {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}

            {% block app_content %}{% endblock %}

    {% endblock %}
</div>


<footer class="page-footer font-small blue" style="padding: 20px">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="font-size: 1em">
    <img style="width: 26px; height: 26px" src="{{url_for('static',filename='git.png')}}">
    <a href="https://github.com/TheTreasureMap/gwtm">View Source</a>
  </div>
  <!-- Copyright -->

</footer>


</body>
</html>
