{% extends "base.html" %}

{% block content %}
<h2>Development Blog</h2>

<p><b>November 19, 2019</b></p>
<a href='/alert_select'>Alert Select</a> page has been reworked. A searchable table displays link to visualization, prominent classification values, distance, and number of completed pointings. 
<br><br>

<p><b>November 13, 2019</b></p>
The Treasure Map was officially announced today (<a href="https://gcn.gsfc.nasa.gov/gcn3/26244.gcn3">GCN Circ. 26244</a>).<br>
A board tracking the community's participation in Treasure Map has been added to the <a href="/index">Home page</a>.

<br><br>

<p><b>November 8, 2019</b></p>
Sky coverage for the Fermi Gamma-Ray Burst Monitor (GBM) instrument is now calculated and displayed automatically upon ingestion of a gravitational-wave alert. This is done by calculating the instantaneous position of the Fermi spacecraft at the gravitational wave trigger time (T0), using the most recent publicly accessible Two-Line Element provided by <a href="https://www.celestrak.com/">CelesTrak</a>. The coverage area is then calculated as the all-sky area not below the Earth-limb with respect to the spacecraft at GW T0. This approach has been validated by the Fermi/GBM team.

<br><br>

<p><b>October 20, 2019</b></p>
Functionality to calculate the fractional coverage of a GW localization region as a function of time, with optional cuts on instrument, band, and/or depth is now available for all GW events on their respective page. This is done by calculating the total GW localization posterior sampled by each specific footprint object (that meets the user defined cuts) reported for that event. Double counting is avoided by marking a HEALPIX pixel as 'Done' once it has been first covered. 

{% endblock %}