{% extends "base.html" %}

{% block content %}
<h2>Development Blog</h2>
<p><b>May 25, 2023</b></p>
<p>Big change: <b>/api/v1/</b> is here. I've realized that in my adolescent programming that I didn't configure GET responses correctly to return valid JSON.
if a user was to hit an GET api endpoint it would essentially jsonify the response twice, resulting in a json list of string objects that needed to be
deserialized again... that is the major change in /api/v1/. All /api/v1/ GET responses now return valid JSON, and do not have to be parsed twice. /api/v0/ will still exist,
but will not be updated with the same endpoints as v1. If there are any known issues, please direct inquires to <a href="mailto:sdwyatt@uw.edu">sdwyatt@uw.edu</a></p>
<p>A lot  has happened over the past 3 years... O4 is now here. We are finally off of AWS as of yesterday.</p>
<p><b>December 13, 2019</b></p>
Users can create their own list of DOI Authors through the <a href="/manage_user">Profile</a> page. Once the list is created, it can be referenced by name or ID when requesting a DOI for a batch of completed pointings through the API or web-forms (<a href="/search_pointings">Query</a> or <a href="/submit_pointings">Submit</a> Pointings pages).

<br><br>
<p><b>December 6, 2019</b></p>
All gravitational wave events with pointing information have a timeslider on the visualization page. It can provide the sense of a playback of when pointings were observed
<br>
<a href="https://doi.org" target="_blank">DOI's</a> can be now associated to completed pointing postings through the API and webform post methods. Refer to the <a href="/documentation">Documentation</a> page for instructions.
<br><br>

<p><b>November 19, 2019</b></p>
<a href='/alert_select'>Alert Select</a> page has been reworked. A searchable table displays link to visualization, prominent classification values, distance, and number of completed pointings. 
<br><br>

<p><b>November 13, 2019</b></p>
The Treasure Map was officially announced today (<a href="https://gcn.gsfc.nasa.gov/gcn3/26244.gcn3" target="_blank">GCN Circ. 26244</a>).<br>
A board tracking the community's participation in Treasure Map has been added to the <a href="/index">Home page</a>.

<br><br>

<p><b>November 8, 2019</b></p>
Sky coverage for the Fermi Gamma-Ray Burst Monitor (GBM) instrument is now calculated and displayed automatically upon ingestion of a gravitational-wave alert. This is done by calculating the instantaneous position of the Fermi spacecraft at the gravitational wave trigger time (T0), using the most recent publicly accessible Two-Line Element provided by <a href="https://www.celestrak.com/" target="_blank">CelesTrak</a>. The coverage area is then calculated as the all-sky area not below the Earth-limb with respect to the spacecraft at GW T0. This approach has been validated by the Fermi/GBM team.

<br><br>

<p><b>October 20, 2019</b></p>
Functionality to calculate the fractional coverage of a GW localization region as a function of time, with optional cuts on instrument, band, and/or depth is now available for all GW events on their respective page. This is done by calculating the total GW localization posterior sampled by each specific footprint object (that meets the user defined cuts) reported for that event. Double counting is avoided by marking a HEALPIX pixel as 'Done' once it has been first covered. 

{% endblock %}