{% extends "base.html" %}
{% block content %}
<style>
.column {
float: left;
width: 50%;
padding: 10px;
}
.row:after {
content: "";
display: table;
clear: both;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>
<div class="container" style="text-align: left">

  		<h2>Welcome to the Gravitational Wave Treasure Map</h2>
  		<div class="column">
		  <p>The Treasure Map is designed to help coordinate electromagnetic followup of gravitational-wave (GW) events. It allows observers to easily report their planned and executed observations in search of counterparts to GW events, and to query the reports of other observers, in a programatic way. The goal is to enable coordination between observatories in order to minimize unnecessary overlap in these searches and find the counterpart as quickly and as efficiently as possible.</p>
		  <p> Please <a href="/register"><b>register</b></a> for an account, so that you can programatically query the Treasure Map.</p>
		  <p>For more details on how to use the Treasure Map see our  <a href="/documentation"><b>User Guide</b></a>.</p>
		  <p>
				The Treasure Map is being designed and developed by: <br>
				Samuel Wyatt, University of Arizona <br>
				Aaron Tohuvavohu, University of Toronto <br>
				Iair Arcavi, Tel Aviv University <br>
				Dave Sand, University of Arizona <br>
				D. Andrew Howell, Las Cumbres Observatory <br>
				Michael Lundquist, University of Arizona <br>
				Curtis McCully, Las Cumbres Observatory <br>
				Austin Riba, Las Cumbres Observatory <br>
		  </p>
		  <p>
				Please direct any general inqueries to <a href="mailto:arcavi@tauex.tau.ac.il" target="_top">Iair Arcavi</a>.
				<br><br>
				If you use the Treasure Map in your research, please cite <a href="https://gcn.gsfc.nasa.gov/gcn3/26244.gcn3">GCN Circ. 26244</a> in addition to the circulars and/or papers of the teams whose pointing information you use.
		  </p>
		  <br>
	</div>
	<div class="column">
		<center><b>Instruments Reporting</b></center>
	<table>
    <tr>
      <th>Name</th><th>Pointings reported </th>
    </tr>
      {% for inst in inst_table[0] %}
        <tr>
          <td>{{ inst.instrument_name }}</td>
          <td>{{ inst.count }} </td>
        </tr>
	  {% endfor %}
	  <tr>
		  <td>Fermi/GBM</td>
		  <td>{{ inst_table[1] }}</td>
	  </tr>
  	</table>
	</div>
</div>
	<br>
	<br>

	<div style="padding-left: 16px">
		<h2>Most Recent Event: {{ form.graceid }} </h3>
		{% include "alert_info.html" %}
	</div>
</div>
{% endblock %}}

