{% extends "base.html" %}

{% block content %}


<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 99%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display:inherit;
  overflow: hidden;
  background-color: #f1f1f1;
}
* {
box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
float: left;
width: 50%;
padding: 10px;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>
</head>

<div style="padding-left:16px">
  <h2> Instrument {{ inst.instrument_name }} </h2>
  <div class="content">
    <div class="column">
      <h3>Information</h3>
      <p><b>Name:</b> {{ inst.instrument_name }} </p>
      <p><b>Short Name:</b> {{ inst.nickname }} </p>
      <p><b>Type:</b> {{ inst.instrument_type.name }} </p>
      <p><b>Submitted User:</b>{{ username }}</p>
      <h3>Events Contributed</h3>
      <table>
        <tr>
          <th>Grace ID</th><th>Pointings</th>
        </tr>
          {% for r in events %}
            <tr>
              <td><a href="/alerts?graceids={{ r['event'] }}">{{ r['event'] }}</a></td>
              <td>{{ r['count'] }}</a></td>
            </tr>
          {% endfor %}
      </table>
    </div>
    <div class="column">
      <h3>Footprint</h3>
      <div style="width: 100%" id="preview_graph" name="preview_graph">
          <script>
              Plotly.plot('preview_graph',{{graph | safe }},{});
          </script>
        </div>
    </div>
  </div>
</div>

{% endblock %}
