
{% extends "base.html" %}

{% block content %}
    <div style="padding-left:16px">
    <h1>Sign In</h1>
    <p>Don't have an account? <a href='/register'>Register here</a></p>
    <form action="" method="post" novalidate>
        <p>{{ form.hidden_tag() }}</p>
        <p hidden>{{ form.verification_key }}</p>
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        {% if form.verification_key != None %}
            <p>{{ form.submit() }}</p>
        {% else %}
            <button href='/login?verification_key={{form.verification_key}}'>Sign In</button>
        {% endif %}
    </form>
    </div>  
{% endblock %}


