
{% extends "base.html" %}

{% block content %}
	<div style="padding-left:16px">
	<form></form>
	<h2>User: {{ user.username }}</h2>
	{% if user.api_token%}
		<p>Your API Token: <b>{{ user.api_token }}</b></p>
	{% else%}
		<p style="color: red;">Your account has not been verified</p> 
		<a id='ajax_resend_verification' class="btn btn-primary">Resend Verification Email</a>
	{% endif %}
	<h3>DOI Author Groups </h3>
	<a class="btn btn-primary" href="{{ url_for('doi_author_group') }}">Create New DOI Author Group</a>
	<div class=container-fluid>
		<table class=table id="doi_groups">
			<thead>
				<th>ID</th>
				<th>Name</th>
			</thead>
			<tbody>
				{% if doi_groups%}
					{% for d in doi_groups %}
						<tr>
							<td>{{ d.id }}</td>
							<td><a href="/doi_author_group?doi_group_id={{ d.id }}">{{ d.name }}</a></td>
						</tr>
					{% endfor%}
				{% endif %}
			</tbody>
		</table>
	</div>
	<!--{% if groups %}
		<h3> Your Groups </h3>
		<ul>
		{% for g in groups %}
			<li> Group: <b> {{ g.name }}</b></li>
			<ul>
				<p>Role: {{ g.role }}</p>
			</ul>
		{% endfor %}
		</ul>
	{% endif %}
	{% if users %}
		<h3> Registered Users </h3>
		<table>
		<tr>
		<th>First</th><th>Last</th><th>Creation</th><th>Verified?</th>
		</tr>
		{% for user in users %}
			<tr>
			<td>{{user.firstname}}</td>
			<td>{{user.lastname}}</td>
			<td>{{user.datecreated.strftime('%Y-%m-%d')}}&nbsp;</td>
			<td>{{user.verified}}</td>
			</tr>
		{% endfor %}
		</table>
	{% endif %}-->
	</div>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>

  $(document).ready( function() {
    $('#ajax_resend_verification').click(function() {
      $.get('/ajax_resend_verification_email').done(function () {
      });
    });
  });
  $(document).ready(function () {
    $(document).ajaxStart(function () {
      document.getElementById("ajax_resend_verification").innerText = "Loading";
      $('#ajax_resend_verification').addClass('disabled');
    }).ajaxStop(function () {
      $('#ajax_resend_verification').removeClass('disabled');
      document.getElementById("ajax_resend_verification").innerText = "Sent! -Send Again?-";
    });
  });
</script>
{% endblock %}