
{% extends "base.html" %}

{% block content %}
	<div style="padding-left:16px">
    <h2>User: {{ user.username }}</h2>
    <p>Your API Token: <b>{{ user.api_token }}</b></p>
	<h3>DOI Author Groups </h3>
	<a class="btn btn-primary" href="{{ url_for('doi_author_group') }}">Create New DOI Author Group</a>
	<div class=container-fluid>
		<table class=table id="doi_groups">
			<thead>
				<th>ID</th>
				<th>Name</th>
			</thead>
			<tbody>
				{% if doi_groups%}
					{% for d in doi_groups %}
						<tr>
							<td>{{ d.id }}</td>
							<td><a href="/doi_author_group?doi_group_id={{ d.id }}">{{ d.name }}</a></td>
						</tr>
					{% endfor%}
				{% endif %}
			</tbody>
		</table>
	</div>
	<!--{% if groups %}
		<h3> Your Groups </h3>
		<ul>
		{% for g in groups %}
			<li> Group: <b> {{ g.name }}</b></li>
			<ul>
				<p>Role: {{ g.role }}</p>
			</ul>
		{% endfor %}
		</ul>
	{% endif %}
	{% if users %}
		<h3> Registered Users </h3>
		<table>
		<tr>
		<th>First</th><th>Last</th><th>Creation</th><th>Verified?</th>
		</tr>
		{% for user in users %}
			<tr>
			<td>{{user.firstname}}</td>
			<td>{{user.lastname}}</td>
			<td>{{user.datecreated.strftime('%Y-%m-%d')}}&nbsp;</td>
			<td>{{user.verified}}</td>
			</tr>
		{% endfor %}
		</table>
	{% endif %}-->
	</div>
{% endblock %}