
{% extends "base.html" %}
<style>
	#userTable tr {
		display: none;
	}
</style>


{% block content %}
	<div style="padding-left:16px">
	<form></form>
	<h2>User: {{ form.user.username }}</h2>
	<p><b>email:</b> {{ form.user.email }}</p>
	{% if form.user.api_token%}
		<p>Your API Token: <b>{{ form.user.api_token }}</b></p>
	{% else%}
		<p style="color: red;">Your account has not been verified</p> 
		<a id='ajax_resend_verification' class="btn btn-primary">Resend Verification Email</a>
	{% endif %}
	<h3>DOI Author Groups </h3>
	<a class="btn btn-primary" href="{{ url_for('doi_author_group') }}">Create New DOI Author Group</a>
	<div class=container-fluid>
		<table class=table id="doi_groups">
			<thead>
				<th>ID</th>
				<th>Name</th>
			</thead>
			<tbody>
				{% if form.doi_groups%}
					{% for d in form.doi_groups %}
						<tr>
							<td>{{ d.id }}</td>
							<td><a href="/doi_author_group?doi_group_id={{ d.id }}">{{ d.name }}</a></td>
						</tr>
					{% endfor%}
				{% endif %}
			</tbody>
		</table>
	</div>
	{% if form.admin %}
	<h3>Admin Functionality</h3>
	<h4>Users</h4>
	<div class="container-fluid">
		<input class="form-control" id="myInput" type="text" placeholder="Search..">
      <br>
      <table class="table table-bordered table-striped" id="userTable">
        <thead>
          <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Last,first</th>
			<th>Email</th>
			<th>Date Created</th>
            <th>Verified?</th>
            <th>Resend V</th>
          </tr>
        </thead>
        <tbody id="myTable">
          {% for a in form.all_users %}
            <tr>
              <td>{{ a.id }}</td>
              <td>{{ a.username }}</td>
              <td>{{ a.lastname}},{{ a.firstname }}</td>
			  <td>{{ a.email }}</td>
			  <td>{{ a.datecreated }}</td>
              <td>{{ a.verified }}</td>
			  <td>[resend_ve]</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
	</div>
	{% endif %}
	</div>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>

    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });

  $(document).ready( function() {
    $('#ajax_resend_verification').click(function() {
      $.get('/ajax_resend_verification_email').done(function () {
      });
    });
  });
  $(document).ready(function () {
    $(document).ajaxStart(function () {
      document.getElementById("ajax_resend_verification").innerText = "Loading";
      $('#ajax_resend_verification').addClass('disabled');
    }).ajaxStop(function () {
      $('#ajax_resend_verification').removeClass('disabled');
      document.getElementById("ajax_resend_verification").innerText = "Sent! -Send Again?-";
    });
  });
</script>
{% endblock %}