{% extends "base.html" %}

{% block content %}
    <div style="padding-left:16px">
    <h1>Register</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.firstname.label }}<br> {{ form.firstname }}<br><br>
            {{ form.lastname.label }} <br>{{ form.lastname }}
        </p>
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {% for error in form.recaptcha.errors %}
                {{ error }}
            {% endfor %}
            {{ form.recaptcha }}
        </p>
        <p>{{ form.fairuse() }} <span style="font-size: small">By clicking here you agree to the following: "<a href=http://Treasuremap.space>Treasuremap.space</a> relies on the goodwill of the community.  If you use it for visualization or for downloading information, you are expected to upload any telescope pointings or other information you may have<a href="/fairuse" target="_blank">.</a></span>"</p>
        <p>{{ form.submit() }}</p>
    </form>
    </div>
{% endblock %}
