{% extends "base.html" %}

{% block content %}

<div style="padding-left:16px">
  <h2>Observatory Statuses</h2>
  <p>The COVID-19 pandemic is forcing closure of many astronomical facilities around the world. Below is a list of the status of various observatories, contributed by the community. <br>
  	We encourage members of the astronomical community to add any information they may have to this list. 
<br>
  The list can be edited, or added to, <a href="https://docs.google.com/spreadsheets/d/1pNjeOzcMVSEAgQQy5i3C4ojjq2sI9Aee9adbQpVaWyc/edit?usp=sharing">here</a>. <b>We ask that you only change the status of an Observatory if you know for a fact that the listed status is incorrect</b>. 
<br>
  Thank you to Jamison Burke for starting the spreadsheet.</p>

  <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSBbmXABm2oAAds-qCjtdy-6c-IOtNopsMc8WTGp_GL6HGXXqI_SvgNScaNVdGjrFpK4qyoErwcMJby/pubhtml?widget=true&amp;headers=false" style="height: 75em; width: 100%;"></iframe>
</div>

{% endblock %}        
