{% extends "base.html" %}

{% block content %}

<div style="padding-left:16px">
  <h2>Observatory Status</h2>
  <p>The COVID-19 pandemic is forcing closure of many astronomical facilities around the world. Below is a list of status of observatories, contributed by the community. This information can be edited, we ask that you only change the status of an Observatory if you know for a fact that the listed status is incorrect. Thank you to Jamison Burke for starting the spreadsheet.</p>

  <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSBbmXABm2oAAds-qCjtdy-6c-IOtNopsMc8WTGp_GL6HGXXqI_SvgNScaNVdGjrFpK4qyoErwcMJby/pubhtml?widget=true&amp;headers=false" style="height: 28em; width: 100%;"></iframe>
</div>

{% endblock %}        
