{% extends "base.html" %}

{% block content %}
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    .column {
    float: left;
    width: 18%;
    padding: 10px;
    }
</style>

<div style="padding-left:16px">
  <h2>Submit Instrument</h2>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <div>
      <p> {{ form.instrument_name.label }} {{ form.instrument_name }} </p>
      <p>{{ form.instrument_nickname.label }} {{ form.instrument_nickname }} </p>
      <p> {{ form.footprint_type.label }} {{ form.footprint_type }} </p>
    </div>
    <div class="Rectangular box">
      <p> {{ form.height.label }} {{ form.height }} </p>
      <p> {{ form.width.label }} {{ form.width }} </p>
    </div>
    <div class="Circular box">
      <p>
        {{form.radius.label}} {{form.radius}}
      </p>
    </div>
    <div class="Polygon box">
        <i>NOTES:</i><br>
        <ul>
          <li style="font-size: smaller"><b>First and last vertices must be the same to complete polygon</b></li>
        </ul>
        <ul>
          <li style="font-size: smaller"><b>Vertices must be in order going clockwise. Separated by linebreak</b></li>
        </ul>
        <ul>
          <li style="font-size: smaller"><b>Multiple polygons can be submitted in a [] deliminated by a #, as noted by the example below</b></li>
        </ul>
        <ul>
          <li style="font-size: smaller"><b>Most importantly, the entire configuration MUST be centered around 0,0</b></li>
        </ul>
        <div class="column">
          Single Example:<br>
            <textarea disabled rows=5 cols="10">
(-1, 1)
(1, 1)
(1, -1)
(-1, -1)
(-1, 1)
            </textarea>
        </div>
        <div style="padding: 10px">
            Multi Example:<br>
              <textarea disabled rows=12 cols="10">
[(-1, 1)
(-0.3, 1)
(-0.3, -1)
(-1, -1)
(-1, 1)]
#
[(0.3, 1)
(1, 1)
(1, -1)
(0.3, -1)
(0.3, 1)]
#
....
              </textarea>
        </div>
        <p> {{ form.polygon.label }}  </p><p> {{ form.polygon }}</p>
    </div>
    <div>
      <p> {{ form.unit.label }} {{ form.unit }}</p>
    </div>
    <p> {{ form.submit() }}  </p>
  </form>
  <p> <button onclick="preview()">Preview Footprint</button> </p>
  <div style="width: 33%" id="preview_graph" name="preview_graph">
    <script>
        Plotly.plot('preview_graph',graphs,{});
    </script>
</div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $("#footprint_type").change(function(){
        $(this).find("option:selected").each(function(){
            var optionValue = $(this).attr("value");
            if(optionValue){
                $(".box").not("." + optionValue).hide();
                $("." + optionValue).show();
            } else{
                $(".box").hide();
            }
        });
    }).change();
});

function preview(){
  var data = $('form').serialize();
  $.get('/preview_footprint', data, function(returndata, status){
    var graphs = JSON.parse(returndata);
    Plotly.newPlot('preview_graph', graphs );
  });
}

</script>

{% endblock %}
