{% extends "base.html" %}

{% block content %}

<div style="padding-left:16px">
  <h2>Submit Pointing</h2>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p> {{ form.loadid.label }} {{ form.loadid }} <a style="font-size: small">pre-loads existing information for your planned pointings</a></p>
    <p>
        {{ form.graceids.label}} {{ form.graceids }} {{ form.obs_status.label }} {{ form.obs_status }}
    </p>
    <p>
        {{ form.ra.label }} {{ form.ra }} {{ form.dec.label }} {{ form.dec }}
    </p>
    <p>
        {{ form.instruments.label}} {{ form.instruments }} {{ form.obs_bandpass.label }} {{ form.obs_bandpass }}
    </p>
    <p>
      {{ form.depth.label }} {{ form.depth }} {{ form.depth_err.label }} {{ form.depth_err }} {{ form.depth_unit.label }} {{ form.depth_unit }}
    </p>
    <div class="planned box">
      <p>
        {{ form.planned_obs_time.label }} {{ form.planned_obs_time }} <b><i style="font-size: small;">YYYY-mm-ddTHH:MM:SS.ss e.g: 2001-01-01T12:30:15.50</i></b>
      </p>
    </div>
    <div class="completed box">
      <p>
        {{ form.completed_obs_time.label }} {{ form.completed_obs_time }} <b><i style="font-size: small;">YYYY-mm-ddTHH:MM:SS.ss e.g: 2001-01-01T12:30:15.50</i></b>
      </p>
      <p>
        {{ form.pos_angle.label }} {{ form.pos_angle }}
      </p>
      <p style="font-size: small;">{{ form.request_doi.label }} {{ form.request_doi }} {{ form.doi_creator_groups.label }} {{ form.doi_creator_groups }}
        Will request a DOI from <a href="https://zenodo.org/">Zenodo</a>
      </p>
      <p style="font-size: small;">{{ form.doi_url.label }} {{ form.doi_url }} 
        Existing DOI will be associated to this URL (I.E. published paper link) and not Zenodo
      </p>
      <p style="font-size: small;">Don't have a DOI Author group? You can create one <a href="/manage_user">here</a></p>
    </div>
    <p>{{ form.submit() }}</p>
    </form>
  </div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--<script type="text/javascript">-->
<script>
$(document).ready(function(){
  $("#loadid").focusout(function(){
    var optionValue = $("#loadid").val()
    $.get('/ajax_pointingfromid?id='+optionValue, function(data, status){
        $('#ra').val(data["ra"]);
        $("#dec").val(data["dec"]);
        $('#obs_status').val("completed");
        $('#instruments').val(data['instrument']);
        $('#graceids').val(data['graceid']);
        $('#obs_bandpass').val(data['band']);
        $('#depth').val(data['depth']);
        $('#depth_err').val(data['depth_err']);
        $(".completed").show();
        if(data['instrument'].includes('photometric')){
          $(".photometric").show()
      }
    });
  });
});  
$(document).ready(function(){
    $("#obs_status").change(function(){
        $(this).find("option:selected").each(function(){
            var optionValue = $(this).attr("value");
            if(optionValue){
                $(".box").not("." + optionValue).hide();
                $("." + optionValue).show();
            } else{
                $(".box").hide();
            }
        });
    }).change();
});
$(document).ready(function(){
    $("#instruments").change(function(){
        $(this).find("option:selected").each(function(){
            var optionValue = $(this).attr("value");
            if(optionValue.includes('photometric')){
                $(".box1").not(".photometric").hide();
                $(".photometric").show();
            } else{
                $(".box1").hide();
            }
        });
    }).change();
});
</script>
{% endblock %}
