# values-secrets.yaml template.
# With secrets this file should be added to .gitignore and never committed.

secrets:
  # OpenStack Swift storage credentials
  osAuthUrl: "https://js2.jetstream-cloud.org:5000/v3/"
  osStorageUrl: "https://js2.jetstream-cloud.org:8001/swift/v1"
  osUsername: ""
  osPassword: ""
  osContainerName: ""
  osProjectName: ""
  osUserDomainName: ""
  osProjectDomainName: ""
  storageBucketSource: "swift"
