# templates/ingress.yaml
{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Release.Name }}-ingress
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "gwtm.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  {{- if .Values.ingress.tls }}
  tls:
    - hosts:
        - {{ .Values.ingress.host | quote }}
      {{- if .Values.ingress.tlsSecretName }}
      secretName: {{ .Values.ingress.tlsSecretName }}
      {{- end }}
  {{- end }}
  rules:
    - host: {{ .Values.ingress.host | quote }}
      http:
        paths:
          - path: /api/v1
            pathType: Prefix
            backend:
              service:
                name: {{ .Values.fastapi.name }}
                port:
                  number: {{ .Values.fastapi.service.port }}
          - path: /docs
            pathType: Prefix
            backend:
              service:
                name: {{ .Values.fastapi.name }}
                port:
                  number: {{ .Values.fastapi.service.port }}
          - path: /redoc
            pathType: Prefix
            backend:
              service:
                name: {{ .Values.fastapi.name }}
                port:
                  number: {{ .Values.fastapi.service.port }}
          - path: /openapi.json
            pathType: Exact
            backend:
              service:
                name: {{ .Values.fastapi.name }}
                port:
                  number: {{ .Values.fastapi.service.port }}
          - path: /health
            pathType: Exact
            backend:
              service:
                name: {{ .Values.fastapi.name }}
                port:
                  number: {{ .Values.fastapi.service.port }}
          - path: /temp_sun_moon_positions
            pathType: Exact
            backend:
              service:
                name: {{ .Values.fastapi.name }}
                port:
                  number: {{ .Values.fastapi.service.port }}
          - path: /ajax_pointingfromid
            pathType: Exact
            backend:
              service:
                name: {{ .Values.fastapi.name }}
                port:
                  number: {{ .Values.fastapi.service.port }}
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ .Values.frontend.name }}
                port:
                  number: {{ .Values.frontend.service.port }}
{{- end }}
